/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
body,
div,
figcaption,
figure,
html,
img,
li,
span,
ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

figcaption,
figure {
	display: block;
}

body {
	line-height: 1;
}

ul {
	list-style: none;
}

:root {
	font-size: 7vw;
}

body {
	counter-reset: section;
	overflow-x: hidden;
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}

a:link,
a:visited {
	color: black;
	text-decoration: none;
	border-bottom: dashed 2px;
}

a:active,
a:hover {
	color: black;
	text-decoration: none;
	border-bottom: solid 2px;
}

:root {
	--step-up-5: 2em;
	--step-up-4: 1.7511em;
	--step-up-3: 1.5157em;
	--step-up-2: 1.3195em;
	--step-up-1: 1.1487em;
	/* baseline: 1em */
	--step-down-1: .8706em;
	--step-down-2: .7579em;
	--step-down-3: .6599em;
	--step-down-4: .5745em;
	--step-down-5: .5em;
}


img {
	max-width: 100%;
	max-height: 100%;
}

#big-wrap {
	margin: .5em;
}

#about {
	z-index: -1;
	margin-bottom: 0;
	font-weight: bold;
}

#selected-toggle,
#archive-toggle {
	display: none;
}

#archive, #gallery {
	display: none;
}

section {
	font-family: "Anonymous Pro", "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-weight: normal;
	position: absolute;
	z-index: 6;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border: 0;
	overflow: hidden;
	pointer-events: none;
}

section *{
	pointer-events: all;
}

section>*  {
	background: white;
}

#gallery {
	font-size: 0;
}

.make-drag {
	box-shadow: 0 0 20px black;
}

.image {
	position: absolute;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: .5em;
	font-size: 45px;
	padding: 25px 25px 0 25px;
	width: calc(300px + 2vw);
	flex-wrap: wrap;
	transition: .3s ease-out;
	transition-property: background;
	top: calc(-400px - 2vw);
	left: calc(-400px - 2vw);
}

.archive-close,
.image-close {
	position: absolute;
	top: 5px;
	height: 13px;
	padding: 3px;
	font-weight: bold;
	line-height: 11px;
	right: 5px;
	font-size: var(--step-down-5);
	cursor: pointer;
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}

figcaption {
	font-size: var(--step-down-5);
	line-height: 25px;
	transition: .3s ease-out;
	width: 100%;
	padding: 12.5px 25px;
	margin: 0 -25px;
}

figure:hover figcaption {
	background: yellow;
}

figcaption span {
	font-size: var(--step-down-3);
}

.img-title {}

.img-year {
	float: right;
}

#archive .archive-list {
	position: relative;
	padding: 0;
	left: auto;
	padding: 25px;
	margin: auto;
	width: 100%;
	max-width: 650px;
	cursor: initial;
	z-index: 10;
	font-size: inherit;
}

#archive {
	pointer-events: none;
	font-size: 45px;
}

.archive-list {
	position: absolute;
	text-align: center;
	left: calc(50% - (300px + 1vw));
	top: 20%;
	pointer-events: all;
	padding: 25px;
	width: 80vw;
	transition: .3s ease-out;
	transition-property: background;
}

.table ul {
	display: flex;
	justify-content: space-between;
}

.table ul li {
	padding: 12.5px 12.5px 12.5px 25px;
}

.table ul li:first-child {
	width: 34%;
}

.table ul li:nth-child(2n) {
	width: 40%;
	border-left: solid 1px black;
}

.table ul li:nth-child(3n) {
	width: 14%;
	border-left: 1px solid black;
}

#archive .table {
	font-size: var(--step-down-4);
}

.archive-list .table {
	background: white;
	text-align: left;
	width: 100%;
}

.archive-list .table > * {
	border-bottom: solid 1px black;
	transition: .3s ease-out;
}

#archive .table > * {
	font-size: var(--step-down-3);
}

.archive-list .table a:hover {
	background: yellow;
}

.archive-list .table > *:last-child {
	border-bottom: none;
}

#canvas-size {
	position: absolute;
	margin: auto;
	font-size: 0;
	width: 100%;
	height: 20vh;
	z-index: -100;
	top: 0;
}

@media screen and (max-width: 800px) {
	:root {
		font-size: 63px;
	}

	#gallery .image:nth-child(3n+2) {
		margin: 0 0 .5em;
	}

	#gallery .image:nth-child(even) {
		margin-left: 5%;
	}

	#archive .table {
		width: initial;
		font-size: var(--step-down-5);
	}
}


@media screen and (max-width: 768px) {
	section {
		margin: .5rem 0;
		padding: .5rem;
		box-shadow: inset 0 0 20px black;
		overflow: auto;
		position: relative;
	}

	#archive, #gallery {
		display: block;
	}

	#archive .archive-list {
		padding: 0;
	}

	.make-drag {
		box-shadow: none;
	}

	.image {
		width: 47.5%;
		padding: 0;
		position: relative;
		vertical-align: top;
		display: inline-flex;
		top: 0;
		left: 0;
	}

	.archive-close,
	.image-close {
		display: none;
	}

	figcaption {
		padding: 6.25px 12.5px;
		margin: 0;
	}

}

@media screen and (max-width: 550px) {
	:root {
		font-size: 11.45vw;
	}

	#gallery .image {
		width: 100%;
		margin-bottom: 1em;
	}

	#gallery .image:nth-child(even) {
		margin-left: 0;
		margin-bottom: 1em;
	}
}

.table a {
	color: black;
	-moz-text-fill-color: initial;
	display: block;
	-webkit-text-fill-color: initial;
	-moz-text-stroke-color: inherit;
	-webkit-text-stroke-color: initial;
	pointer-events: all;
	-moz-text-stroke-width: 0;
	-webkit-text-stroke-width: 0;
}
