/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
body,
div,
figcaption,
figure,
html,
img,
li,
span,
ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

figcaption,
figure {
	display: block;
}

body {
	line-height: 1;
}

ul {
	list-style: none;
}

:root {
	font-size: 7vw;
}

body {
	counter-reset: section;
	overflow-x: hidden;
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}

a:link,
a:visited {
	color: black;
	text-decoration: none;
}

a:active,
a:hover {
	color: black;
	text-decoration: none;
}

:root {
	--step-up-5: 2em;
	--step-up-4: 1.7511em;
	--step-up-3: 1.5157em;
	--step-up-2: 1.3195em;
	--step-up-1: 1.1487em;
	/* baseline: 1em */
	--step-down-1: .8706em;
	--step-down-2: .7579em;
	--step-down-3: .6599em;
	--step-down-4: .5745em;
	--step-down-5: .5em;
}

figcaption {
	font-size: var(--step-down-5);
	padding: 6.25px 12.5px;
	line-height: 25px;
	transition: .3s ease-out;
}

figcaption span {
	font-size: var(--step-down-3);
}

img {
	max-width: 100%;
	max-height: 100%;
}

#big-wrap {
	margin: .5em;
}

#about {
	z-index: -1;
	margin-bottom: 0;
}

section {
	font-family: "Anonymous Pro", "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-weight: normal;
	margin: .5rem 0;
	padding: .5rem;
	box-shadow: inset 0 0 20px black;
}

#gallery {
	font-size: 0;
}

.image {
	vertical-align: top;
	position: relative;
	flex-direction: column;
	justify-content: flex-start;
	display: inline-flex;
	margin-bottom: .5em;
	transition: .3s ease-out;
	width: 30%;
	font-size: 45px;
}

.img-title {}

.img-year {
	float: right;
}

#archive .archive-list {
	position: relative;
	padding: 0;
	left: auto;
	margin: auto;
	width: 100%;
	max-width: 800px;
	cursor: initial;
	z-index: 10;
	font-size: inherit;
}

#archive {
	pointer-events: none;
	font-size: 45px;
}

.archive-list {
	position: absolute;
	text-align: center;
	left: calc(50% - (300px + 1vw));
	top: 20%;
	pointer-events: all;
	padding: 25px;
	width: 80vw;
	transition: .3s ease-out;
	transition-property: background;
}

.table ul {
	display: flex;
	justify-content: space-between;
}

.table ul li {
	padding: 12.5px 12.5px 12.5px 25px;
}

.table ul li:first-child {
	width: 34%;
	padding-left: 12.5px;
}

.table ul li:nth-child(2n) {
	width: 40%;
	border-left: solid 1px black;
	padding-left: 25px;
}

.table ul li:nth-child(3n) {
	width: 14%;
	border-left: 1px solid black;
}

#archive .table {
	width: initial;
	font-size: var(--step-down-4);
}

.archive-list .table {
	background: white;
	text-align: left;
	width: 100%;
}

.archive-list .table > * {
	border-bottom: solid 1px black;
	transition: .3s ease-out;
}

#archive .table > * {
	font-size: var(--step-down-3);
}

.archive-list .table a:hover {
	background: yellow;
}

.archive-list .table > *:last-child {
	border-bottom: none;
}

.image:hover {
	background: yellow;
}

#gallery .image:nth-child(3n+2) {
	margin: 0 5% .5rem;
}

@media screen and (max-width: 800px) {
	:root {
		font-size: 63px;
	}

	#gallery .image {
		width: 47.5%;
	}1

	#archive .table {
		width: initial;
		font-size: var(--step-down-5);
	}
}

@media screen and (max-width: 550px) {
	:root {
		font-size: 11.45vw;
	}

	#gallery .image {
		width: 100%;
		margin-bottom: 1em;
	}

	#gallery .image:nth-child(even) {
		margin-left: 0;
		margin-bottom: 1em;
	}
}

.table a {
	color: black;
	-moz-text-fill-color: initial;
	display: block;
	-webkit-text-fill-color: initial;
	-moz-text-stroke-color: inherit;
	-webkit-text-stroke-color: initial;
	pointer-events: all;
	-moz-text-stroke-width: 0;
	-webkit-text-stroke-width: 0;
}
