a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-weight: 300;
  font-size: 100%;
  font-family: helvetica;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

nav {
    color: rgba(80, 73, 255, 1);
    width: 200px;
    font-size: 16px;
    margin: 40px;
}

nav a {
    display: block;
    margin-bottom: 10px;
}

#title_pos {
    height: 83px;
    width: 183px;
    margin-bottom: 20px;
    border-bottom: solid 2px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
}

/* title */
#warped-title {position: relative;display: inline-block;margin-top: -87px;margin-left: -92px;width: 366px;height: 225px;transform: scale(.5);}

#warped-title>span[class^=w]:nth-of-type(n+0){position:absolute;
display:block; -webkit-transform-origin:50% 100%;
-moz-transform-origin:50% 100%; -ms-transform-origin:50% 100%; -o-transform-origin:50%
100%; transform-origin:50% 100%; }

#warped-title span{overflow:visible;padding:0px;black-space:pre;font-weight:regular;font-style:normal;font-size: 48px;line-height:1.1;}

#warped-title .w0 {top: 169.25px;left: 26.12px;
width: 29px; height: 50px; -webkit-transform: rotate(-7.15rad);-moz-transform: rotate(-7.15rad);-ms-transform: rotate(-7.15rad); -o-transform:
rotate(-7.15rad);transform: rotate(-7.15rad);
}

#warped-title .w1 {top: 150.8px;left: 51.83px; width:
14px; height: 50px; -webkit-transform: rotate(-7rad);-moz-transform: rotate(-7rad);-ms-transform: rotate(-7rad); -o-transform:
rotate(-7rad);transform: rotate(-7rad); }

#warped-title .w2 {top: 139.98px;left: 67.19px;
width: 12px; height: 50px; -webkit-transform: rotate(-6.86rad);-moz-transform: rotate(-6.86rad);-ms-transform: rotate(-6.86rad); -o-transform:
rotate(-6.86rad);transform: rotate(-6.86rad);
}

#warped-title .w3 {top: 131.58px;left: 81.73px;
width: 14px; height: 50px; -webkit-transform: rotate(-6.7rad);-moz-transform: rotate(-6.7rad);-ms-transform: rotate(-6.7rad); -o-transform:
rotate(-6.7rad);transform: rotate(-6.7rad);
}

#warped-title .w4 {top: 124.67px;left: 99.55px;
width: 23px; height: 50px; -webkit-transform: rotate(-6.48rad);-moz-transform: rotate(-6.48rad);-ms-transform: rotate(-6.48rad); -o-transform:
rotate(-6.48rad);transform: rotate(-6.48rad);
}

#warped-title .w5 {top: 122.59px;left: 127.56px;
width: 14px; height: 50px; -webkit-transform: rotate(-6.29rad);-moz-transform: rotate(-6.29rad);-ms-transform: rotate(-6.29rad); -o-transform:
rotate(-6.29rad);transform: rotate(-6.29rad);
}

#warped-title .w6 {top: 123.71px;left: 146.76px;
width: 14px; height: 50px; -webkit-transform: rotate(-6.18rad);-moz-transform: rotate(-6.18rad);-ms-transform: rotate(-6.18rad); -o-transform:
rotate(-6.18rad);transform: rotate(-6.18rad);
}

#warped-title .w7 {top: 127.71px;left: 165.6px;
width: 31px; height: 50px; -webkit-transform: rotate(-6.12rad);-moz-transform: rotate(-6.12rad);-ms-transform: rotate(-6.12rad); -o-transform:
rotate(-6.12rad);transform: rotate(-6.12rad);
}

#warped-title .w8 {top: 132.1px;left: 201.01px;
width: 14px; height: 50px; -webkit-transform: rotate(-6.15rad);-moz-transform: rotate(-6.15rad);-ms-transform: rotate(-6.15rad); -o-transform:
rotate(-6.15rad);transform: rotate(-6.15rad);
}

#warped-title .w9 {top: 134.23px;left: 219.85px;
width: 18px; height: 50px; -webkit-transform: rotate(-6.23rad);-moz-transform: rotate(-6.23rad);-ms-transform: rotate(-6.23rad); -o-transform:
rotate(-6.23rad);transform: rotate(-6.23rad);
}

#warped-title .w10 {top: 134.06px;left: 242.89px;
width: 14px; height: 50px; -webkit-transform: rotate(-6.37rad);-moz-transform: rotate(-6.37rad);-ms-transform: rotate(-6.37rad); -o-transform:
rotate(-6.37rad);transform: rotate(-6.37rad);
}

#warped-title .w11 {top: 130.15px;left: 261.48px;
width: 22px; height: 50px; -webkit-transform: rotate(-6.56rad);-moz-transform: rotate(-6.56rad);-ms-transform: rotate(-6.56rad); -o-transform:
rotate(-6.56rad);transform: rotate(-6.56rad);
}

#warped-title .w12 {top: 121.76px;left: 287.09px;
width: 14px; height: 50px; -webkit-transform: rotate(-6.76rad);-moz-transform: rotate(-6.76rad);-ms-transform: rotate(-6.76rad); -o-transform:
rotate(-6.76rad);transform: rotate(-6.76rad);
}

#warped-title .w13 {top: 108.2px;left: 301.86px;
width: 27px; height: 50px; -webkit-transform: rotate(-6.95rad);-moz-transform: rotate(-6.95rad);-ms-transform: rotate(-6.95rad); -o-transform:
rotate(-6.95rad);transform: rotate(-6.95rad);
}

#warped-title .w14 {top: 91.16px;left: 327.26px;
width: 14px; height: 50px; -webkit-transform: rotate(-7.09rad);-moz-transform: rotate(-7.09rad);-ms-transform: rotate(-7.09rad); -o-transform:
rotate(-7.09rad);transform: rotate(-7.09rad);
}

#warped-title .w15 {top: 72.16px;left: 338.19px;
width: 25px; height: 50px; -webkit-transform: rotate(-7.2rad);-moz-transform: rotate(-7.2rad);-ms-transform: rotate(-7.2rad); -o-transform:
rotate(-7.2rad);transform: rotate(-7.2rad);
}

#warped-title .w16 {top: 50.92px;left: 359.94px;
width: 14px; height: 50px; -webkit-transform: rotate(-7.13rad);-moz-transform: rotate(-7.13rad);-ms-transform: rotate(-7.13rad); -o-transform:
rotate(-7.13rad);transform: rotate(-7.13rad);
}

#warped-title .w17 {top: 41.31px;left: 363.43px;width: 18px;height: 50px;-webkit-transform: rotate(-6.86rad);-moz-transform: rotate(-6.86rad);-ms-transform: rotate(-6.86rad);-o-transform:
rotate(-6.86rad);transform: rotate(-7.13rad);}

#warped-title .w18 {top: 31.56px;left: 394.74px;
width: 0px; height: 50px; -webkit-transform: rotate(-6.58rad);-moz-transform: rotate(-6.58rad);-ms-transform: rotate(-6.58rad); -o-transform:
rotate(-6.58rad);transform: rotate(-6.58rad);
}
