a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-weight: 300;
  font-size: 100%;
  font-family: helvetica;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

#content_wrapper {margin: 200px 10% 50px 10%;display: flex;flex-wrap: wrap;justify-content: center;}

@keyframes colorflux {
  0% {background: rgba(80, 73, 255, 1);}
  25% {background: rgba(40, 73, 255, 1);}
  50% {background: rgba(80, 73, 255, 1);}
  75% {background: rgba(100, 73, 255, 1);}
  100% {background: rgba(80, 73, 255, 1);}

}

@keyframes textflux {
  0% {color: rgba(80, 73, 255, 1);}
  25% {color: rgba(40, 73, 255, 1);}
  50% {color: rgba(80, 73, 255, 1);}
  75% {color: rgba(100, 73, 255, 1);}
  100% {color: rgba(80, 73, 255, 1);}
}

@keyframes rotator {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}
.content_item {
  margin-bottom: 50px;
  height: 500px;
  width: 500px;
  background-position: top center;
  background-size: contain;
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}

h1, h2, h3, h4 {
  padding: 30px 0px 30px 0px;
  font-weight: 400;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:hover, a:active {
  color: black;
  text-decoration: none;
}

.content_item > a {
    width: 100%;
    height: 100%;
    position: absolute;
}

.content_item img {height: 100%;position: relative;margin: auto;}

nav {
  position: fixed;
  border-bottom: none;
  font-size: 16px;
  z-index: 10000;
  top: 0;
}

nav>div {
}

nav>p {
  margin-top: 60px;
  font-size: 24px;
  text-align: justify;
  display: none;
}

nav>p:after {
  content: "";
  display: inline-block;
  width: 100%;
}

nav > a {
  display: block;
}

nav > a:link, nav > a:visited {
  color: inherit;
  font-size: 32px;
  text-align: center;
  padding: 50px 0 50px 0;
  transition: .2s;
}

nav > a:hover, nav > a:active {
  background: #ffff9f;
}

.accordion-toggle {
  cursor: pointer;
}

.accordion-content {
  display: none;
}

#title_wrap {
    height: 163px;
    overflow: hidden;
    display: inline-block;
}

#title_pos {padding: 30px;padding-left: 50px;display: inline-block;}

.section {
  /* position: relative; */
}

#content_wrapper>div>div {
  margin-bottom: 50px;
  width: 200px;
  margin-right: 20px;
  vertical-align: top;
  display: inline-block;
}


#content_wrapper>div>div>h1{
  /* background: white; */
  text-align: center;
  font-weight: 900;
}

.content_item h2 {
  font-size: 24px;
  display: none;
}

#bgd2 {
  animation: textflux 120s linear infinite, rotator 40s linear infinite;
  font-size: 116px;
  width: 100%;
  opacity: .5;
  font-weight: 900;
  }

#content_wrapper>div>div>div {
  height: 500px;
  border-top: solid 1px black;
  background-attachment: scroll;
  background-position: center;
  background-size: auto 300px;
  background-repeat: no-repeat;
  color: black;
  font-weight: 900;
}

#content_wrapper>div>div>div>a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: left;
}

#bgd_wrap {
  overflow: hidden;
  display: block;
  position: absolute;
  z-index: -100;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 800px) {
  nav {
    width: auto;
    display: flex;
    justify-content: center;
  }
}

#warped {position: relative;display: inline-block;width: 366px;height: 225px;margin-top: -61px;}

#warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
-moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

#warped span{font-size: 48px;font-weight:regular;font-style:normal;line-height:1.1;white-space:pre;overflow:visible;padding:0px;}

#warped .w0 {-moz-transform: rotate(-7.15rad);-webkit-transform: rotate(-7.15rad);-o-transform:
rotate(-7.15rad);-ms-transform: rotate(-7.15rad); transform: rotate(-7.15rad);
width: 29px; height: 50px; left: 26.12px; top: 169.25px;}

#warped .w1 {-moz-transform: rotate(-7rad);-webkit-transform: rotate(-7rad);-o-transform:
rotate(-7rad);-ms-transform: rotate(-7rad); transform: rotate(-7rad); width:
14px; height: 50px; left: 51.83px; top: 150.8px;}

#warped .w2 {-moz-transform: rotate(-6.86rad);-webkit-transform: rotate(-6.86rad);-o-transform:
rotate(-6.86rad);-ms-transform: rotate(-6.86rad); transform: rotate(-6.86rad);
width: 12px; height: 50px; left: 67.19px; top: 139.98px;}

#warped .w3 {-moz-transform: rotate(-6.7rad);-webkit-transform: rotate(-6.7rad);-o-transform:
rotate(-6.7rad);-ms-transform: rotate(-6.7rad); transform: rotate(-6.7rad);
width: 14px; height: 50px; left: 81.73px; top: 131.58px;}

#warped .w4 {-moz-transform: rotate(-6.48rad);-webkit-transform: rotate(-6.48rad);-o-transform:
rotate(-6.48rad);-ms-transform: rotate(-6.48rad); transform: rotate(-6.48rad);
width: 23px; height: 50px; left: 99.55px; top: 124.67px;}

#warped .w5 {-moz-transform: rotate(-6.29rad);-webkit-transform: rotate(-6.29rad);-o-transform:
rotate(-6.29rad);-ms-transform: rotate(-6.29rad); transform: rotate(-6.29rad);
width: 14px; height: 50px; left: 127.56px; top: 122.59px;}

#warped .w6 {-moz-transform: rotate(-6.18rad);-webkit-transform: rotate(-6.18rad);-o-transform:
rotate(-6.18rad);-ms-transform: rotate(-6.18rad); transform: rotate(-6.18rad);
width: 14px; height: 50px; left: 146.76px; top: 123.71px;}

#warped .w7 {-moz-transform: rotate(-6.12rad);-webkit-transform: rotate(-6.12rad);-o-transform:
rotate(-6.12rad);-ms-transform: rotate(-6.12rad); transform: rotate(-6.12rad);
width: 31px; height: 50px; left: 165.6px; top: 127.71px;}

#warped .w8 {-moz-transform: rotate(-6.15rad);-webkit-transform: rotate(-6.15rad);-o-transform:
rotate(-6.15rad);-ms-transform: rotate(-6.15rad); transform: rotate(-6.15rad);
width: 14px; height: 50px; left: 201.01px; top: 132.1px;}

#warped .w9 {-moz-transform: rotate(-6.23rad);-webkit-transform: rotate(-6.23rad);-o-transform:
rotate(-6.23rad);-ms-transform: rotate(-6.23rad); transform: rotate(-6.23rad);
width: 18px; height: 50px; left: 219.85px; top: 134.23px;}

#warped .w10 {-moz-transform: rotate(-6.37rad);-webkit-transform: rotate(-6.37rad);-o-transform:
rotate(-6.37rad);-ms-transform: rotate(-6.37rad); transform: rotate(-6.37rad);
width: 14px; height: 50px; left: 242.89px; top: 134.06px;}

#warped .w11 {-moz-transform: rotate(-6.56rad);-webkit-transform: rotate(-6.56rad);-o-transform:
rotate(-6.56rad);-ms-transform: rotate(-6.56rad); transform: rotate(-6.56rad);
width: 22px; height: 50px; left: 261.48px; top: 130.15px;}

#warped .w12 {-moz-transform: rotate(-6.76rad);-webkit-transform: rotate(-6.76rad);-o-transform:
rotate(-6.76rad);-ms-transform: rotate(-6.76rad); transform: rotate(-6.76rad);
width: 14px; height: 50px; left: 287.09px; top: 121.76px;}

#warped .w13 {-moz-transform: rotate(-6.95rad);-webkit-transform: rotate(-6.95rad);-o-transform:
rotate(-6.95rad);-ms-transform: rotate(-6.95rad); transform: rotate(-6.95rad);
width: 27px; height: 50px; left: 301.86px; top: 108.2px;}

#warped .w14 {-moz-transform: rotate(-7.09rad);-webkit-transform: rotate(-7.09rad);-o-transform:
rotate(-7.09rad);-ms-transform: rotate(-7.09rad); transform: rotate(-7.09rad);
width: 14px; height: 50px; left: 327.26px; top: 91.16px;}

#warped .w15 {-moz-transform: rotate(-7.2rad);-webkit-transform: rotate(-7.2rad);-o-transform:
rotate(-7.2rad);-ms-transform: rotate(-7.2rad); transform: rotate(-7.2rad);
width: 25px; height: 50px; left: 338.19px; top: 72.16px;}

#warped .w16 {-moz-transform: rotate(-7.13rad);-webkit-transform: rotate(-7.13rad);-o-transform:
rotate(-7.13rad);-ms-transform: rotate(-7.13rad); transform: rotate(-7.13rad);
width: 14px; height: 50px; left: 359.94px; top: 50.92px;}

#warped .w17 {-moz-transform: rotate(-6.86rad);-webkit-transform: rotate(-6.86rad);-o-transform:
rotate(-6.86rad);-ms-transform: rotate(-6.86rad);transform: rotate(-7.13rad);width: 18px;height: 50px;left: 363.43px;top: 41.31px;}

#warped .w18 {-moz-transform: rotate(-6.58rad);-webkit-transform: rotate(-6.58rad);-o-transform:
rotate(-6.58rad);-ms-transform: rotate(-6.58rad); transform: rotate(-6.58rad);
width: 0px; height: 50px; left: 394.74px; top: 31.56px;}
