a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-weight: 300;
  font-size: 100%;
  font-size: 48px;
  font-family: helvetica;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:hover, a:active {
  color: black;
  text-decoration: none;
}

#content_wrapper {
  display: flex;
  margin: 200px 10% 50px 10%;

  flex-wrap: wrap;
  justify-content: center;
}

@keyframes rotator {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes textflux {
  0% {color: rgba(80, 73, 255, 1);}
  25% {color: rgba(40, 73, 255, 1);}
  50% {color: rgba(80, 73, 255, 1);}
  75% {color: rgba(100, 73, 255, 1);}
  100% {color: rgba(80, 73, 255, 1);}
}

@keyframes flip {
  0% {transform: translateX(-100%);}
  100% {transform: translateX(170%);}
}

@keyframes drop {
  0% {transform: translateY(0%);}
  25% {transform: translateY(20%);}
  50% {transform: translateY(-20%);}
  75% {transform: translateY(20%);}
}

.nav_card {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 25px;
  padding: 0;
  width: 345px;
  height: 500px;
  vertical-align: top;
  text-align: left;
}


.nav_card>a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

nav {
  position: fixed;
  top: 0;
  left: 20px;
  z-index: 10000;
  border-bottom: none;
  font-size: 16px;
}

#title_pos {
    display: inline-block;
    padding: 30px;
    color: rgba(80, 73, 255, 1);
    animation: textflux 120s linear infinite;
}

#wonky-archive {
  margin-top: 70px;
  color: white;
  transform: rotate(45deg);
}

#wonky-archive>div {
    display: inline-block;

    padding: 0px 50px 0px 50px;
    height: auto;
    transform: translateX(-100%);
    animation: flip 6s linear infinite;
}

#selected-card {
    color: white;
    padding: 20px;
}

#selected-ani>div {
  animation: drop 5s linear infinite;
  display: inline-block;
  animation-timing-function: ease-in-out;
}

@media only screen and (max-width: 600px) {
  nav {
  left: 0;

  transform: scale(.75);
  transform-origin: left top;
  }

  #content_wrapper {
    margin: auto;
    margin-top: 150px;
    width: 100%;
  }
}

/* title */
#warped-title {position: relative;display: inline-block;margin-top: -61px;width: 366px;height: 225px;}

#warped-title>span[class^=w]:nth-of-type(n+0){position:absolute;
display:block; -webkit-transform-origin:50% 100%;
-moz-transform-origin:50% 100%; -ms-transform-origin:50% 100%; -o-transform-origin:50%
100%; transform-origin:50% 100%; }

#warped-title span{overflow:visible;padding:0px;white-space:pre;font-weight:regular;font-style:normal;font-size: 48px;line-height:1.1;}

#warped-title .w0 {top: 169.25px;left: 26.12px;
width: 29px; height: 50px; -webkit-transform: rotate(-7.15rad);-moz-transform: rotate(-7.15rad);-ms-transform: rotate(-7.15rad); -o-transform:
rotate(-7.15rad);transform: rotate(-7.15rad);
}

#warped-title .w1 {top: 150.8px;left: 51.83px; width:
14px; height: 50px; -webkit-transform: rotate(-7rad);-moz-transform: rotate(-7rad);-ms-transform: rotate(-7rad); -o-transform:
rotate(-7rad);transform: rotate(-7rad); }

#warped-title .w2 {top: 139.98px;left: 67.19px;
width: 12px; height: 50px; -webkit-transform: rotate(-6.86rad);-moz-transform: rotate(-6.86rad);-ms-transform: rotate(-6.86rad); -o-transform:
rotate(-6.86rad);transform: rotate(-6.86rad);
}

#warped-title .w3 {top: 131.58px;left: 81.73px;
width: 14px; height: 50px; -webkit-transform: rotate(-6.7rad);-moz-transform: rotate(-6.7rad);-ms-transform: rotate(-6.7rad); -o-transform:
rotate(-6.7rad);transform: rotate(-6.7rad);
}

#warped-title .w4 {top: 124.67px;left: 99.55px;
width: 23px; height: 50px; -webkit-transform: rotate(-6.48rad);-moz-transform: rotate(-6.48rad);-ms-transform: rotate(-6.48rad); -o-transform:
rotate(-6.48rad);transform: rotate(-6.48rad);
}

#warped-title .w5 {top: 122.59px;left: 127.56px;
width: 14px; height: 50px; -webkit-transform: rotate(-6.29rad);-moz-transform: rotate(-6.29rad);-ms-transform: rotate(-6.29rad); -o-transform:
rotate(-6.29rad);transform: rotate(-6.29rad);
}

#warped-title .w6 {top: 123.71px;left: 146.76px;
width: 14px; height: 50px; -webkit-transform: rotate(-6.18rad);-moz-transform: rotate(-6.18rad);-ms-transform: rotate(-6.18rad); -o-transform:
rotate(-6.18rad);transform: rotate(-6.18rad);
}

#warped-title .w7 {top: 127.71px;left: 165.6px;
width: 31px; height: 50px; -webkit-transform: rotate(-6.12rad);-moz-transform: rotate(-6.12rad);-ms-transform: rotate(-6.12rad); -o-transform:
rotate(-6.12rad);transform: rotate(-6.12rad);
}

#warped-title .w8 {top: 132.1px;left: 201.01px;
width: 14px; height: 50px; -webkit-transform: rotate(-6.15rad);-moz-transform: rotate(-6.15rad);-ms-transform: rotate(-6.15rad); -o-transform:
rotate(-6.15rad);transform: rotate(-6.15rad);
}

#warped-title .w9 {top: 134.23px;left: 219.85px;
width: 18px; height: 50px; -webkit-transform: rotate(-6.23rad);-moz-transform: rotate(-6.23rad);-ms-transform: rotate(-6.23rad); -o-transform:
rotate(-6.23rad);transform: rotate(-6.23rad);
}

#warped-title .w10 {top: 134.06px;left: 242.89px;
width: 14px; height: 50px; -webkit-transform: rotate(-6.37rad);-moz-transform: rotate(-6.37rad);-ms-transform: rotate(-6.37rad); -o-transform:
rotate(-6.37rad);transform: rotate(-6.37rad);
}

#warped-title .w11 {top: 130.15px;left: 261.48px;
width: 22px; height: 50px; -webkit-transform: rotate(-6.56rad);-moz-transform: rotate(-6.56rad);-ms-transform: rotate(-6.56rad); -o-transform:
rotate(-6.56rad);transform: rotate(-6.56rad);
}

#warped-title .w12 {top: 121.76px;left: 287.09px;
width: 14px; height: 50px; -webkit-transform: rotate(-6.76rad);-moz-transform: rotate(-6.76rad);-ms-transform: rotate(-6.76rad); -o-transform:
rotate(-6.76rad);transform: rotate(-6.76rad);
}

#warped-title .w13 {top: 108.2px;left: 301.86px;
width: 27px; height: 50px; -webkit-transform: rotate(-6.95rad);-moz-transform: rotate(-6.95rad);-ms-transform: rotate(-6.95rad); -o-transform:
rotate(-6.95rad);transform: rotate(-6.95rad);
}

#warped-title .w14 {top: 91.16px;left: 327.26px;
width: 14px; height: 50px; -webkit-transform: rotate(-7.09rad);-moz-transform: rotate(-7.09rad);-ms-transform: rotate(-7.09rad); -o-transform:
rotate(-7.09rad);transform: rotate(-7.09rad);
}

#warped-title .w15 {top: 72.16px;left: 338.19px;
width: 25px; height: 50px; -webkit-transform: rotate(-7.2rad);-moz-transform: rotate(-7.2rad);-ms-transform: rotate(-7.2rad); -o-transform:
rotate(-7.2rad);transform: rotate(-7.2rad);
}

#warped-title .w16 {top: 50.92px;left: 359.94px;
width: 14px; height: 50px; -webkit-transform: rotate(-7.13rad);-moz-transform: rotate(-7.13rad);-ms-transform: rotate(-7.13rad); -o-transform:
rotate(-7.13rad);transform: rotate(-7.13rad);
}

#warped-title .w17 {top: 41.31px;left: 363.43px;width: 18px;height: 50px;-webkit-transform: rotate(-6.86rad);-moz-transform: rotate(-6.86rad);-ms-transform: rotate(-6.86rad);-o-transform:
rotate(-6.86rad);transform: rotate(-7.13rad);}

#warped-title .w18 {top: 31.56px;left: 394.74px;
width: 0px; height: 50px; -webkit-transform: rotate(-6.58rad);-moz-transform: rotate(-6.58rad);-ms-transform: rotate(-6.58rad); -o-transform:
rotate(-6.58rad);transform: rotate(-6.58rad);
}

/* about */
#warped-about {position: relative;display: block;margin-top: 75px;margin-left: 200px;width: 335px;height: 328px;color: white;animation: rotator linear 35s infinite;}

#warped-about>span[class^=w]:nth-of-type(n+0){position:absolute;display:block;margin-top: -56px;margin-left: -126px;-webkit-transform-origin:50% 100%;-moz-transform-origin:50% 100%;-ms-transform-origin:50% 100%;-o-transform-origin:50%
100%;transform-origin:50% 100%;}

#warped-about span{overflow:visible;padding:0px;white-space:pre;font-weight:regular;font-style:normal;line-height:0.65;}

#warped-about .w0 {top: 324.41px;left: 224.27px;
width: 23px; height: 24px; -webkit-transform: rotate(3.56rad);-moz-transform: rotate(3.56rad);-ms-transform: rotate(3.56rad); -o-transform:
rotate(3.56rad);transform: rotate(3.56rad);
}

#warped-about .w1 {top: 310.4px;left: 200.08px;
width: 23px; height: 24px; -webkit-transform: rotate(3.76rad);-moz-transform: rotate(3.76rad);-ms-transform: rotate(3.76rad); -o-transform:
rotate(3.76rad);transform: rotate(3.76rad);
}

#warped-about .w2 {top: 291.9px;left: 179.13px;
width: 23px; height: 24px; -webkit-transform: rotate(3.96rad);-moz-transform: rotate(3.96rad);-ms-transform: rotate(3.96rad); -o-transform:
rotate(3.96rad);transform: rotate(3.96rad);
}

#warped-about .w3 {top: 269.62px;left: 162.24px;
width: 23px; height: 24px; -webkit-transform: rotate(4.16rad);-moz-transform: rotate(4.16rad);-ms-transform: rotate(4.16rad); -o-transform:
rotate(4.16rad);transform: rotate(4.16rad);
}

#warped-about .w4 {top: 248.19px;left: 155.51px;
width: 15px; height: 24px; -webkit-transform: rotate(4.33rad);-moz-transform: rotate(4.33rad);-ms-transform: rotate(4.33rad); -o-transform:
rotate(4.33rad);transform: rotate(4.33rad);
}

#warped-about .w5 {top: 231.09px;left: 151.93px;
width: 11px; height: 24px; -webkit-transform: rotate(4.46rad);-moz-transform: rotate(4.46rad);-ms-transform: rotate(4.46rad); -o-transform:
rotate(4.46rad);transform: rotate(4.46rad);
}

#warped-about .w6 {top: 209.44px;left: 142.14px;
width: 23px; height: 24px; -webkit-transform: rotate(4.61rad);-moz-transform: rotate(4.61rad);-ms-transform: rotate(4.61rad); -o-transform:
rotate(4.61rad);transform: rotate(4.61rad);
}

#warped-about .w7 {top: 181.49px;left: 142.24px;
width: 23px; height: 24px; -webkit-transform: rotate(4.81rad);-moz-transform: rotate(4.81rad);-ms-transform: rotate(4.81rad); -o-transform:
rotate(4.81rad);transform: rotate(4.81rad);
}

#warped-about .w8 {top: 154.1px;left: 147.86px;
width: 23px; height: 24px; -webkit-transform: rotate(5.01rad);-moz-transform: rotate(5.01rad);-ms-transform: rotate(5.01rad); -o-transform:
rotate(5.01rad);transform: rotate(5.01rad);
}

#warped-about .w9 {top: 128.36px;left: 158.77px;
width: 23px; height: 24px; -webkit-transform: rotate(5.21rad);-moz-transform: rotate(5.21rad);-ms-transform: rotate(5.21rad); -o-transform:
rotate(5.21rad);transform: rotate(5.21rad);
}

#warped-about .w10 {top: 108.38px;left: 176.02px;
width: 15px; height: 24px; -webkit-transform: rotate(5.38rad);-moz-transform: rotate(5.38rad);-ms-transform: rotate(5.38rad); -o-transform:
rotate(5.38rad);transform: rotate(5.38rad);
}

#warped-about .w11 {top: 95.03px;left: 190.07px;
width: 11px; height: 24px; -webkit-transform: rotate(5.51rad);-moz-transform: rotate(5.51rad);-ms-transform: rotate(5.51rad); -o-transform:
rotate(5.51rad);transform: rotate(5.51rad);
}

#warped-about .w12 {top: 80.96px;left: 200.95px;
width: 23px; height: 24px; -webkit-transform: rotate(5.66rad);-moz-transform: rotate(5.66rad);-ms-transform: rotate(5.66rad); -o-transform:
rotate(5.66rad);transform: rotate(5.66rad);
}

#warped-about .w13 {top: 67.14px;left: 225.25px;
width: 23px; height: 24px; -webkit-transform: rotate(5.86rad);-moz-transform: rotate(5.86rad);-ms-transform: rotate(5.86rad); -o-transform:
rotate(5.86rad);transform: rotate(5.86rad);
}

#warped-about .w14 {top: 58.38px;left: 251.8px;
width: 23px; height: 24px; -webkit-transform: rotate(6.06rad);-moz-transform: rotate(6.06rad);-ms-transform: rotate(6.06rad); -o-transform:
rotate(6.06rad);transform: rotate(6.06rad);
}

#warped-about .w15 {top: 55.03px;left: 279.55px;
width: 23px; height: 24px; -webkit-transform: rotate(6.26rad);-moz-transform: rotate(6.26rad);-ms-transform: rotate(6.26rad); -o-transform:
rotate(6.26rad);transform: rotate(6.26rad);
}

#warped-about .w16 {top: 56.56px;left: 307.47px;
width: 15px; height: 24px; -webkit-transform: rotate(6.43rad);-moz-transform: rotate(6.43rad);-ms-transform: rotate(6.43rad); -o-transform:
rotate(6.43rad);transform: rotate(6.43rad);
}

#warped-about .w17 {top: 60.37px;left: 327.05px;
width: 11px; height: 24px; -webkit-transform: rotate(6.56rad);-moz-transform: rotate(6.56rad);-ms-transform: rotate(6.56rad); -o-transform:
rotate(6.56rad);transform: rotate(6.56rad);
}

#warped-about .w18 {top: 68.01px;left: 341.66px;
width: 23px; height: 24px; -webkit-transform: rotate(6.71rad);-moz-transform: rotate(6.71rad);-ms-transform: rotate(6.71rad); -o-transform:
rotate(6.71rad);transform: rotate(6.71rad);
}

#warped-about .w19 {top: 82.19px;left: 365.74px;
width: 23px; height: 24px; -webkit-transform: rotate(6.91rad);-moz-transform: rotate(6.91rad);-ms-transform: rotate(6.91rad); -o-transform:
rotate(6.91rad);transform: rotate(6.91rad);
}

#warped-about .w20 {top: 100.85px;left: 386.56px;
width: 23px; height: 24px; -webkit-transform: rotate(7.11rad);-moz-transform: rotate(7.11rad);-ms-transform: rotate(7.11rad); -o-transform:
rotate(7.11rad);transform: rotate(7.11rad);
}

#warped-about .w21 {top: 123.25px;left: 403.28px;
width: 23px; height: 24px; -webkit-transform: rotate(7.31rad);-moz-transform: rotate(7.31rad);-ms-transform: rotate(7.31rad); -o-transform:
rotate(7.31rad);transform: rotate(7.31rad);
}

#warped-about .w22 {top: 144.77px;left: 417.86px;
width: 15px; height: 24px; -webkit-transform: rotate(7.48rad);-moz-transform: rotate(7.48rad);-ms-transform: rotate(7.48rad); -o-transform:
rotate(7.48rad);transform: rotate(7.48rad);
}

#warped-about .w23 {top: 161.91px;left: 425.31px;
width: 11px; height: 24px; -webkit-transform: rotate(7.6rad);-moz-transform: rotate(7.6rad);-ms-transform: rotate(7.6rad); -o-transform:
rotate(7.6rad);transform: rotate(7.6rad);
}

#warped-about .w24 {top: 183.58px;left: 422.95px;
width: 23px; height: 24px; -webkit-transform: rotate(7.76rad);-moz-transform: rotate(7.76rad);-ms-transform: rotate(7.76rad); -o-transform:
rotate(7.76rad);transform: rotate(7.76rad);
}

#warped-about .w25 {top: 211.53px;left: 422.64px;
width: 23px; height: 24px; -webkit-transform: rotate(7.96rad);-moz-transform: rotate(7.96rad);-ms-transform: rotate(7.96rad); -o-transform:
rotate(7.96rad);transform: rotate(7.96rad);
}

#warped-about .w26 {top: 238.88px;left: 416.82px;
width: 23px; height: 24px; -webkit-transform: rotate(8.16rad);-moz-transform: rotate(8.16rad);-ms-transform: rotate(8.16rad); -o-transform:
rotate(8.16rad);transform: rotate(8.16rad);
}

#warped-about .w27 {top: 264.53px;left: 405.72px;
width: 23px; height: 24px; -webkit-transform: rotate(8.36rad);-moz-transform: rotate(8.36rad);-ms-transform: rotate(8.36rad); -o-transform:
rotate(8.36rad);transform: rotate(8.36rad);
}

#warped-about .w28 {top: 284.41px;left: 396.33px;
width: 15px; height: 24px; -webkit-transform: rotate(8.53rad);-moz-transform: rotate(8.53rad);-ms-transform: rotate(8.53rad); -o-transform:
rotate(8.53rad);transform: rotate(8.53rad);
}

#warped-about .w29 {top: 297.68px;left: 386.18px;
width: 11px; height: 24px; -webkit-transform: rotate(8.65rad);-moz-transform: rotate(8.65rad);-ms-transform: rotate(8.65rad); -o-transform:
rotate(8.65rad);transform: rotate(8.65rad);
}

#warped-about .w30 {top: 311.62px;left: 363.19px;
width: 23px; height: 24px; -webkit-transform: rotate(8.81rad);-moz-transform: rotate(8.81rad);-ms-transform: rotate(8.81rad); -o-transform:
rotate(8.81rad);transform: rotate(8.81rad);
}

#warped-about .w31 {top: 325.27px;left: 338.79px;
width: 23px; height: 24px; -webkit-transform: rotate(9.01rad);-moz-transform: rotate(9.01rad);-ms-transform: rotate(9.01rad); -o-transform:
rotate(9.01rad);transform: rotate(9.01rad);
}

#warped-about .w32 {top: 333.83px;left: 312.18px;
width: 23px; height: 24px; -webkit-transform: rotate(9.21rad);-moz-transform: rotate(9.21rad);-ms-transform: rotate(9.21rad); -o-transform:
rotate(9.21rad);transform: rotate(9.21rad);
}

#warped-about .w33 {top: 336.98px;left: 284.41px;
width: 23px; height: 24px; -webkit-transform: rotate(9.41rad);-moz-transform: rotate(9.41rad);-ms-transform: rotate(9.41rad); -o-transform:
rotate(9.41rad);transform: rotate(9.41rad);
}

#warped-about .w34 {top: 335.27px;left: 264.5px;
width: 15px; height: 24px; -webkit-transform: rotate(9.58rad);-moz-transform: rotate(9.58rad);-ms-transform: rotate(9.58rad); -o-transform:
rotate(9.58rad);transform: rotate(9.58rad);
}
